extends layout

block content
  html
    head
      link(rel='stylesheet', href='/stylesheets/style.css')
      block script
        script(src="/javascripts/commonFun.js")
  .top-text
    h1= title
    ul.up-text
      each val in ['other', 'users', 'one']
        li= val
  body
    p Welcome to #{title}
    p #{title}
    span Hi #{title}
    a#other( href="/other") other
    a(href="users") users
    a(href="one") one